:root {
    --color-primary : #34C94b;
    --color-black : #121212;
    --color-white : #ffffff;
    --font-sm : 12px;
    --font-md : 16px;
    --font-lg : 20px;
    --background-color-primary : #000000;
}

*{
    margin :0px;
}
html,
body
{
    height: 100%;
}

body{
    font-family : "Poppins", "sans-serif";
    background-color: var(--color-black);
    color : var(--color-white);
}